body {
font-family: Arial, sans-serif;
background: #f4f6f9;
}


.container {
display: flex;
padding: 30px;
}


.form-box{
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.table-box {
background: rgba(50, 166, 195, 0.772);
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-box {
width: 30%;
margin-right: 20px;
}


.form-box h2 {
text-align: center;
}


label {
display: block;
margin-top: 10px;
}


input {
width: 100%;
padding: 8px;
margin-top: 5px;
}


button {
width: 100%;
margin-top: 15px;
padding: 10px;
background: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}


button:hover {
background: #0056b3;
}


.table-box {
width: 65%;
}


table {
width: 100%;
border-collapse: collapse;
}


th, td {
padding: 10px;
text-align: center;
}